body { padding-bottom: 70px; }

a.btn.btn-primary,
#login, {
    color: white;
}

.navbar-brand {
    color: #337ab7 !important;
    font-weight: bold;
}
.navbar-brand:hover {
    color: #337ab7 !important;
}

.container-fluid {
    padding-left: 2em;
}

#signup,
#login {
    border: 1px solid #337ab7;
    margin-right: 1em;
}

#login {
    background-color: #337ab7;
    color: white;
}

#login:hover {
    background-color: #359ab7;
}

footer h4 {
    padding: 0.5em 0;
    text-align: center;
    font-weight: 200;
    color: #337ab7;
}

.submit,
.submit:hover {
    text-decoration: none;
    color: white;
}


img {
    height: 100px;
    width: 100px;
}

.photo {
    border-left: 5px solid #337ab7;
    padding-left: 5em;
    padding-right: 0;
}

.row {
    margin-bottom: 3em;
}

.work {
    padding-left: 1.5em;
}

.form-control {
    color: #337ab7;
    border-color: #337ab7;
    margin-right: 0;
}

button a {
    color: white;
}
.profile {
    border-right: 5px solid #337ab7;
}

.comment {
    padding: 1em 0 1em 1.5em;

}

form button {
    margin-top: 1em;
}


.section-title {
    border-bottom: 5px double #e7e7e7;
    padding-left: 2em;
    text-transform: uppercase;
}

.section-title h2 {
    display: inline;
}

.feedback {
    padding-right: 0;
}

blockquote {
    border: none;
}


/* new for online-forum */
.well p {
    font-size: 1.3em;
}

.topic-admin-btn {
    text-align: center;
}

.message {
    font-size: 1.2em;
    border: 2px solid lightgray;
    border-radius: 5px;
    padding: 1em 2em;
    text-align: center;
    color: #337ab7;
    margin-bottom: 1em;
}